body {
    margin: 0;
    font-family: 'Tahoma';
}

header {
    background: #03a9f4;
    text-align: center;
}

.logo {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: fantasy; 
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}

.news_item {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}